<?xml version="1.0" encoding="UTF-8"?>
<!--suppress SpringFacetInspection -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 配置c3p0连接池 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver" />
        <property name="jdbcUrl" value="jdbc:mysql://127.0.0.1:3306/ssh" />
        <property name="user" value="root" />
        <property name="password" value="123456" />
    </bean>

    <!-- sessionfactory创建 -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocations" value="classpath:hibernate.cfg.xml" />

        <!-- 不使用hibernate.cfg.xml -->
    <!--     <property name="hibernateProperties">
            <props>
                <prop key="show_sql">true</prop>
                <prop key="format_sql">true</prop>
                <prop key="hbm2ddl.auto">update</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="connection.useUnicode">true</prop>
                <prop key="connection.characterEncoding">utf8</prop>
            </props>
        </property>

        <property name="mappingResources">
            <list>
                <value>classpath:entity/Course.hbm.xml</value>
                <value>classpath:entity/Assignment.hbm.xml</value>
                <value>classpath:entity/Homework.hbm.xml</value>
                <value>classpath:entity/Student.hbm.xml</value>
                <value>classpath:entity/Teacher.hbm.xml</value>
                <value>classpath:entity/Admin.hbm.xml</value>
            </list>
        </property> -->

    </bean>

    <!-- 事务管理器 -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>


    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"></property>
        <property name="maxInMemorySize" value="10240000"></property>
    </bean>

    <bean id="courseDao" class="dao.CourseDaoImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="adminDao" class="dao.AdminDaoImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="assignmentDao" class="dao.AssignmentDaoImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="studentDao" class="dao.StudentDaoImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="teacherDao" class="dao.TeacherDaoImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="classDao" class="dao.ClassDaoImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="groupDao" class="dao.GroupDaoImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="groupMemberDao" class="dao.GroupMemberDaoImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="rollcallDao" class="dao.RollcallDaoImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="ClassCourseDao" class="dao.ClassCourseDaoImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="homeWorkDao" class="dao.HomeWorkDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="gradeDao" class="dao.GradeDaoImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="userService" class="service.UserServiceImpl" >
        <property name="teacherDao" ref="teacherDao" />
        <property name="adminDao" ref="adminDao" />
        <property name="studentDao" ref="studentDao" />
    </bean>

    <bean id="userAction" class="action.UserAction">
        <property name="userService" ref="userService" />
    </bean>



    <bean id="teacherService" class="service.TeacherServiceImpl">
        <property name="courseDao" ref="courseDao" />
        <property name="teacherDao" ref="teacherDao" />
        <property name="studentDao" ref="studentDao" />
        <property name="assignmentDao" ref="assignmentDao" />
        <property name="rollcallDao" ref="rollcallDao" />
        <property name="homeWorkDao" ref="homeWorkDao" />
        <property name="gradeDao" ref="gradeDao" />
    </bean>

    <bean id="teacherAction" class="action.TeacherAction">
        <property name="teacherService" ref="teacherService" />
    </bean>

    <bean id="studentService" class="service.StudentServiceImpl">
        <property name="courseDao" ref="courseDao" />
        <property name="studentDao" ref="studentDao" />
        <property name="groupMemberDao" ref="groupMemberDao"/>
        <property name="groupDao" ref="groupDao"/>
        <property name="assignmentDao" ref="assignmentDao"/>
        <property name="homeWorkDao" ref="homeWorkDao"/>
    </bean>

    <bean id="studentAction" class="action.StudentAction">
        <property name="studentService" ref="studentService" />
    </bean>

    <bean id="adminService" class="service.AdminServiceImpl">
        <property name="adminDao" ref="adminDao" />
        <property name="studentDao" ref="studentDao" />
        <property name="teacherDao" ref="teacherDao" />
        <property name="classDao" ref="classDao" />
    </bean>

    <bean id="adminAction" class="action.AdminAction">
        <property name="adminService" ref="adminService" />
    </bean>


</beans>