<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="connection.useUnicode">true</property>
        <property name="connection.characterEncoding">utf8</property>

        <mapping resource="classpath:java/entity/User.hbm.xml" />
        <mapping resource="classpath:java/entity/Course.hbm.xml" />
    </session-factory>
</hibernate-configuration>