a {
    text-decoration: none;
    display: block;
    line-height: 30px;
    padding-left: 20px;
    color: #fff;
}
ul {
    width: 30%;
    min-width: 150px;
    max-width: 240px;
    height: 600px;
    display: block;
    padding-top: 30px;
    background: #333;
    margin: 0;
    float: left;
}
li {
    list-style: none;
    width: 120px;
    height: 30px;
    border: 1px solid #ccc;
    margin-top: 10px;
}
.li {
    background:#fff;
    color:#333;
}
.container {
    float: left;
    width: 70%;
    height: 600px;
    padding-top: 30px;
    background: #ccc;
}

.iframe {
    width: inherit;
    height: inherit;
    border-style: none;
}